body {
    display: grid;
    grid-template-areas: 
        'home home'
        'header header'
        'main main';
}

body a {
    grid-area: home;
}

body a img {
    width: 700px;
}

body header {
    grid-area: header;
}

body main {
    grid-area: main;
}