body {
    width: 100%;
}

body a {
    display: block;
    width: 50%;
}

body a img {
    width: 100%;
}

body main {
    width: calc(100%-200px);
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 75px;
    justify-items: center;
    margin: 7.5%;
}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 5px;
    }

    body main {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 75px;
    }
}

@media screen and (max-width: 500px) {
    body main {
        margin: 7.5%;
    }
}