:root {
    font-size: 5px;
}

body {
    grid-template-areas :
        'title  nav     section-title'
        'main   main    main';
}

main {
    grid-template-columns: repeat(3, auto);
    /* grid-column-gap: calc(calc(100% - 900px) / 2); */
    margin: 0 100px;
    justify-items: stretch;
}

h1 {
    font-size: 10rem;
}