:root {
    font-size: 5px;
}

body {
    grid-template-areas :
        'title  nav     section-title'
        'main   main    main';
}

main {
    grid-template-columns: repeat(3, auto);
    margin: 0 100px;
    justify-items: stretch;
}

h1 {
    font-size: 10rem;
}

.scroll-button {
    display: block;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border: 0;
    z-index: 150;
    font-size: 4rem;
    border-radius: 10px;
    font-weight: 800;
}

.scroll-button.display-none {
    display: none;
}