#form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #52525290;
}

.form-container {
    width: calc(100% - 40px);
    height: 100%;
    background-color: var(--thi-color);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-container * {
    width: 100%;
    border: 0;
    font-size: 4rem;
}

.form-title {
    font-size: 6rem;
    margin-bottom: 20px;
    line-height: 1.4;
}

.form-container .label {
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--main-grey);
}

.form-container .input {
    border-radius: 5px;
    height: 40px;
}

.form-container .form-message.input {
    height: 200px;
}

.form-submit-btn {
    margin: 20px auto;
    width: auto;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    padding: 5px 50px;
    font-size: 3.5rem;
}

.form-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    width: min-content;
}

.form-close-btn::after {
    content: '\2a2f';
    color: white;
    font-size: 8rem;
}

@media screen and (min-width: 1000px) {
    .form-container {
        width: 500px;
        height: calc(100% - 150px);
        margin: 50px auto;
    }

    .form-submit-btn {
        padding: 20px 50px;
        margin : 20px auto 20px 0;    
    }
}