.select-sort.label {
    font-size: 3.5rem;
}

.select-sort.select {
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    font-size: 3.5rem;
    position: relative;
}

.select-sort.select option {
    font-size: 3.5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 10px;
    border-radius: 10px;
}