.tag-checkbox {
    display: none;
}

.tag-label {
    border: solid 1px grey;
    padding: 10px 20px;
    font-size: 3.5rem;
    border-radius: 50px;
    color: var(--main-color);
    background-color: white;
}

.tag-checkbox:checked ~ .tag-label {
    background-color: var(--main-color);
    color: white;
}



.tag-container {
    display: inline-table;
    margin: 20px 10px;
}


@media screen and (min-width: 1000px) {
    .tag-label {
        padding: 5px 10px;
    }
}