.phgh-container {
    text-align: center;
}

.phgh-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 500px;
    grid-area: img;
}

.phgh-name {
    color: var(--sec-color);
    margin: 15px;
    grid-area: name;
}

h1.phgh-name {
    font-size: 8rem;
}

h2.phgh-name {
    font-size: 10rem;
}

.phgh-localisation {
    color: var(--main-color);
    font-size: 5rem;
    margin: 15px;
    grid-area: loca;
}

.phgh-desc {
    font-size: 3rem;
    margin: 15px;
    grid-area: desc;
}

.phgh-price {
    color: var(--main-grey);
    font-size: 5rem;
    margin: 15px;
    display: inline-table;
}

.phgh-tag-list {
    grid-area: tag;
}

.phgh-tag-list .tag-container {
    font-size: 1.5rem;
}


/*PAGE STYLE*/

.phgh-container.phgh-page .phgh-content {
    display: grid;
    grid-template-areas: 
        'name   img'
        'loca  img'
        'desc   img'
        'tag    tag';
    text-align: left;
}

.phgh-container.phgh-page .phgh-content .phgh-image {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin: 0 30px 0 100px;
    align-items: center;
}

.phgh-container.phgh-page .phgh-stat {
    position: fixed;
    right: 10px;
    bottom: 0;
    font-size: 5rem;
    display: none;
}

.phgh-container.phgh-page .phgh-stat .phgh-likes {
    display: inline-table;
}

.phgh-container.phgh-page .phgh-content .phgh-contact-btn {
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    padding: 10px 50px;
    font-size: 6rem;
    border-radius: 20px;
    box-shadow: none;
    border: 0;
    background-color: var(--main-color);
    color: white;
}

@media screen and (min-width: 1000px) {
    
    .phgh-container.phgh-page .phgh-stat {
        display: block;
        z-index: 20;
        background-color: var(--sec-color);
        border-radius: 5px 5px 0 0;
    }

    .phgh-container.phgh-page {
        margin: 100px;
        background-color: var(--sec-grey);
    }

    .phgh-container.phgh-page .phgh-content .phgh-contact-btn {
        position: relative;
        grid-area: btn;
        bottom: auto;
        left: auto;
        right: auto;
        top: auto;
        transform: translate(0);
        padding: 0;
    }

    .phgh-container.phgh-page .phgh-content {
        grid-template-areas: 
            'name   btn img'
            'loca   .   img'
            'desc   .   img'
            'tag    .   img';
            padding: 50px;
    }

    .phgh-container.phgh-page .phgh-content .phgh-image {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        margin: 0 0 0 100px;
        align-items: center;
    }

    .phgh-container.phgh-page {
        margin: 10px 100px;
    }

    .phgh-container.phgh-page .phgh-stat .phgh-likes, .phgh-price {
        margin: 15px 30px;
        color: black;
    }

    .phgh-likes::after {
        content: '\2665';
        font-size: 7rem;
    }

}